<h1>Editing Community</h1>



Banner<br/>
<% unless @community.banner.blank? %>
  <%= image_tag(File.join(root_url, @community.id.to_s, "community", "banner", @community.id.to_s,"banner","serve_image")) %>
<% else %>
  No Image <!-- Default  images needed-->
<% end %>
<br/>
Avatar
<br/>
<% unless @community.banner.blank? %>
  <%= image_tag(File.join(root_url, @community.id.to_s, "community", "avatar", @community.id.to_s,"avatar","serve_image")) %>
<% else %>
  No Image <!-- Default  images needed-->
<% end %>



<%= render 'form', community: @community %>

<%= link_to 'Show', @community %> |
<%= link_to 'Back', communities_path %>
